In [1]:
import numpy as np
import pandas as pd
import os
import time
import datetime

hoping to change this file and others to use datetime libraries to automate the timp stamping with the file naming conventions

CITED SOURCES:

using python os

https://www.geeksforgeeks.org/os-module-python-examples/

had to look into the documentation for os usage:

https://docs.python.org/3/library/os.html

In [2]:
file_list=os.listdir(os.getcwd()+'\\data_rdy_concate')

In [3]:
cleaned_list=[f1 for f1 in file_list if f1[-4:]=='.csv']

In [4]:
cleaned_list

['01JAN2022_1400_cleaned.csv',
 '02JAN2022_0100_cleaned.csv',
 '02JAN2022_1520_cleaned.csv',
 '03JAN2022_0400_cleaned.csv',
 '03JAN2022_1550_cleaned.csv',
 '04JAN2022_1330_cleaned.csv',
 '05JAN2022_0120_cleaned.csv',
 '05JAN2022_1400_cleaned.csv',
 '06JAN2022_0200_cleaned.csv',
 '06JAN2022_1400_cleaned.csv',
 '23DEC2021_2200_cleaned.csv',
 '23DEC2021_set_1_cleaned.csv',
 '24DEC2021_1900_cleaned.csv',
 '25DEC2021_1310_cleaned.csv',
 '26DEC2021_0100_cleaned.csv',
 '26DEC2021_1230_cleaned.csv',
 '27DEC2021_0330_cleaned.csv',
 '27DEC2021_1320_cleaned.csv',
 '28DEC2021_0300_cleaned.csv',
 '28DEC2021_1500_cleaned.csv',
 '29DEC2021_0400_cleaned.csv',
 '30DEC2021_0500_cleaned.csv',
 '30DEC2021_1730_cleaned.csv',
 '31DEC2021_0930_cleaned.csv',
 '31DEC2021_2230_cleaned.csv']

In [5]:
df_base=pd.read_csv('./data_rdy_concate/'+cleaned_list[0])

In [6]:
count = 0
keep_count = 500
for x1 in cleaned_list:
    if count == 0:
        df_base=pd.read_csv('./data_rdy_concate/'+x1)
        df_base.drop(index=list(range(keep_count,df_base.shape[0])),inplace=True)
        count += 1
    else:
        df_current=pd.read_csv('./data_rdy_concate/'+x1)
        df_current.drop(index=list(range(keep_count,df_current.shape[0])),inplace=True)
        df_run=pd.concat([df_base,df_current])
        del df_base
        df_base=df_run
        del df_current
        count += 1

This loop pulls the first file from the directory and then starts concating the rest

In [9]:
df_run.shape

(12124, 6)

In [10]:
df_run.head()

,Unnamed: 0,comment_count,upvote_delta,timeup_list,subreddit,thread_text
0,0.0,18300.0,37200.0,15.0,r/AskReddit,People who aren’t celebrating or partying righ...
1,1.0,697.0,35800.0,3.0,r/funny,After years of saving I finally bought a house
2,2.0,189.0,19800.0,4.0,r/Showerthoughts,Beatboxers probably have no issue explaining t...
3,3.0,4300.0,48800.0,10.0,r/facepalm,“All I need to cook is a set of measuring cups...
4,5.0,998.0,20300.0,5.0,r/PoliticalHumor,Birds of a feather flock together!

In [11]:
df_run.to_csv('./full_data/full_data_DDMMMYYYY_cut500.csv',index=False)

Left in generic form, with the cut off value shown for clarity